@charset "utf-8";

@use '../lib/global'as g;
@use '../lib/vars'as *;

.contents--company {

  .heading-A {
    margin: 6.4rem 0;
  }

  .company {
    &__ttl {
      position: relative;
      font-size: 3.2rem;
      padding-left: 4.5rem;
      font-weight: 400;

      @include g.max-screen(g.$bp-sp) {
        font-size: 2.4rem;
        padding-left: 4rem;
      }

      &::before {
        position: absolute;
        content: "";
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M3.5%2010C3.5%206.41015%206.41015%203.5%2010%203.5H26.5V20C26.5%2023.5899%2023.5898%2026.5%2020%2026.5H3.5V10Z%22%20stroke%3D%22%23D5D933%22%20stroke-width%3D%227%22%2F%3E%3C%2Fsvg%3E')no-repeat center;
        background-size: contain;
        width: 3rem;
        height: 3rem;
        transform: translateY(-50%);
        top: 50%;
        left: 0;

        @include g.max-screen(g.$bp-sp) {
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      margin-top: 4rem;

      @include g.max-screen(g.$bp-sp) {
        display: block;
      }

      dt {
        width: 20%;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 2.4rem 0;
        border-top: 1px solid #4D6569;
        font-weight: 600;

        @include g.max-screen(g.$bp-sp) {
          width: 100%;
          border-top: 1px solid #D8E3E5;
          padding: 2.4rem 0 .5rem 0;
        }

        &:last-of-type {
          border-bottom: 1px solid #4D6569;

          @include g.max-screen(g.$bp-sp) {
            border-bottom: none;
          }
        }
      }

      dd {
        width: 80%;
        font-size: 1.6rem;
        padding: 2.4rem 0;
        border-top: 1px solid #D8E3E5;

        @include g.max-screen(g.$bp-sp) {
          width: 100%;
          border-top: none;
          padding: .5rem 0 2.4rem 0;
        }

        &:last-of-type {
          border-bottom: 1px solid #D8E3E5;
        }

        .dd-flex {
          display: flex;

          span {
            width: 20%;

            @include g.max-screen(g.$bp-sp) {
              width: 40%;
            }
          }
        }
      }
    }
  }

  .history {
    padding: 6.4rem 0;

    @include g.max-screen(g.$bp-sp) {
      padding: 6.4rem 0 0 0;
    }

    &__wrap {
      position: relative;
      margin-top: 4rem;

      @include g.max-screen(g.$bp-sp) {
        padding-top: 1rem;
      }

      &::before {
        position: absolute;
        content: "";
        background-color: #D8E3E5;
        border-radius: 5rem;
        width: .6rem;
        height: 100%;
        top: 0;
        left: .5rem;
      }
    }

    &__list {
      display: flex;
      align-items: baseline;
      gap: 0 4rem;

      @include g.max-screen(g.$bp-sp) {
        display: block;
      }

      &-data {
        width: 20%;
        display: flex;
        align-items: baseline;

        @include g.max-screen(g.$bp-sp) {
          width: 100%;
        }
      }

      &-deco {
        position: relative;
        width: 100%;
        padding-bottom: .5rem;

        @include g.max-screen(g.$bp-sp) {
          width: 12%;
        }

        &::before {
          position: absolute;
          content: "";
          width: 2rem;
          height: 2rem;
          background-color: #FEFFF7;
          border: 3px solid #4D6569;
          border-radius: 50%;
          transform: translateY(-50%);
          left: -.2rem;
          z-index: 1;
        }

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          border-top: 1px dashed #4D6569;
          left: 0;
          z-index: 0;
        }
      }

      dt {
        width: 60%;
        position: relative;
        flex-shrink: 0;

        @include g.max-screen(g.$bp-sp) {
          width: 40%;
          margin-top: 1.6rem;
        }

        span {
          position: relative;
          display: block;
          color: #fff;
          background-color: #4D6569;
          border-radius: 1.2rem 0 1.2rem 0;
          font-size: 1.8rem;
          line-height: 1.1;
          text-align: center;
          padding: 1rem 0;
          z-index: 1;
          letter-spacing: .1em;
        }
      }

      dd {
        width: 75%;
        font-size: 1.6rem;
        padding: 2rem 0;
        border-bottom: 1px solid #D8E3E5;

        @include g.max-screen(g.$bp-sp) {
          width: 88%;
          padding: 1.6rem 0;
          margin: 0 0 0 auto;
        }

        .dd-flex {
          display: flex;

          span {
            @include g.max-screen(g.$bp-sp) {
              width: 15%;
              flex-shrink: 0;
            }
          }
        }
      }

      &-dd {
        width: 75%;

        @include g.max-screen(g.$bp-sp) {
          width: 88%;
          margin: 0 0 0 auto;
        }

        dd {
          width: 100%;
        }

        a {
          transition: .25s all;

          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }

  .img-area {
    padding: 0 0 6.4rem;

    @include g.max-screen(g.$bp-sp) {
      padding: 6.4rem 0;
    }

    &__wrap {
      display: flex;
      gap: 4rem;
      width: 100%;

      @include g.max-screen(g.$bp-sp) {
        display: block;
      }

      img {
        width: calc(100% / 3 - 30px);

        @include g.max-screen(g.$bp-sp) {
          width: 100%;
          padding: 1.2rem 0;
        }
      }
    }
  }
}