@charset "utf-8";

@use '../lib/global' as g;

/*----------------------------------------------------

	各ページの独自モジュールスタイルのCSS。

	【記述ルール】
	{ ページ名(top, about等) }○○○○

	階層はルートクラスより、三階層までが基本
	【例】
	.top-sec .top-sec__ttl span {		
	}
	※CSSに展開した場合

----------------------------------------------------*/

.contents.contents--top {
	padding-top: 0;
	.about {
		padding: 6rem 0;
	
		&__txt {
			color: g.$main-color;
			font-size: 1.6rem;
			text-align: center;
		}
	
		.btn-A {
			text-align: center;
			margin-top: 2.5rem;
		}
	
		&__img {
			text-align: center;
			padding: 2.4rem 0 4rem;
		}
	}
	
	.strength {
		&__card {
			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 4rem;
				background-color: g.$main-color;
				border-radius: 3rem;
				padding: 6.4rem;
				margin-top: 2.4rem;
			}
		}
	
		&__txt-area {
			color: #fff;
			width: 50%;
			flex-shrink: 0;
		}
	
		&__num {
			display: inline-block;
			font-family: "Advent Pro", sans-serif;
			font-size: 1.6rem;
			font-weight: 600;
			color: g.$main-color;
			background-color: #fff;
			border-radius: 5rem;
			padding: 0 1.5rem;
		}
	
		&__ttl {
			font-size: 4rem;
			margin: 1rem 0;
		}
	
		&__txt {
			font-size: 1.6rem;
		}
	
		.btn-A {
			text-align: left;
			margin-top: 4.3rem;
		}
	}
	
	.tea {
		position: relative;
		background: linear-gradient(180deg, rgba(255, 255, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
		padding-bottom: 1rem;
	
		&::before {
			position: absolute;
			content: "";
			background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221200%22%20height%3D%22192%22%20viewBox%3D%220%200%201200%20192%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M0%2077.1762C63.2007%2045.3382%20256.962%20-5.47062%20534.2%2045.998C811.438%2097.4666%201091.31%2039.0696%201196.59%203.4375%22%20stroke%3D%22%23E5E8D3%22%20stroke-width%3D%224%22%2F%3E%3Cpath%20d%3D%22M3.41211%20191C66.6128%20159.162%20459.237%20-42.0924%20736.475%209.37616C1013.71%2060.8448%201094.72%20152.893%201200%20117.261%22%20stroke%3D%22%23E5E8D3%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E')no-repeat;
			background-size: 100%;
			width: 100%;
			height: 30rem;
			top: 0;
			left: 0;
			z-index: 0;
		}
	
		&::after {
			position: absolute;
			content: "";
			background-color: #FFFFFF;
			border-radius: 0 0 5rem 5rem;
			width: 100%;
			height: 6.4rem;
			bottom: -6.4rem;
			left: 0;
		}
	
		.heading-A {
			position: relative;
			z-index: 1;
		}
	
		&__txt {
			font-size: 1.6rem;
			text-align: center;
			padding-top: 2.4rem;
		}
	
		&__list {
			display: flex;
			flex-wrap: wrap;
			gap: 4rem;
			margin: 4rem 0;
	
			a {
				position: relative;
			}
		}
	
		&__ttl-wrap {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
		}
	
		&__ttl {
			color: #fff;
			font-size: 2.8rem;
			-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
		}
	
		.btn-A {
			text-align: center;
		}
	}
	
	.news {
		background: url("../images/top/news-bg.jpg")no-repeat;
		background-size: cover;
		background-position: 50%;
		padding: 12.4rem 0 6.4rem;
	
		&__container {
			display: flex;
			background-color: #FFFFFF;
			border-radius: 5rem 0 0 5rem;
			width: 90%;
			padding: 6.4rem;
			margin: 0 0 0 auto;
		}
	
		&__list {
			li {
				padding: 2.4rem 0;
				border-bottom: 1px dashed #D8E3E5;
	
				&:first-of-type {
					border-top: 1px dashed #D8E3E5;
				}
	
				a {
					display: block;
				}
			}
		}
	
		&__ttl-area {
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	
		.heading-A {
			text-align: left;
		}
	
		&__date-area {
			display: flex;
			align-items: center;
			gap: 1.6rem;
			font-size: 1.6rem;
			padding-bottom: 1rem;
		}
	
		&__cate {
			color: #fff;
			background-color: #4D6569;
			border-radius: 1.6rem 0 1.6rem 0;
			padding: 0 1.5rem;
		}
	
		&__ttl {
			font-size: 1.6rem;
			transition: .25s all;
	
			&:hover {
				color: #D5D933;
			}
		}
	}
}