@charset "utf-8";

@use '../lib/global' as g;

.btn-B {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  width: 38.4rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fff;
  border-radius: 60px;
  border: 1px solid #D8E3E5;
  margin: 0 auto;

  &::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    display: inline-block;
    background: url(../images/common/back-btn-icon.svg) no-repeat center center;
    background-size: contain;
  }
}

.hmb-btn {
  position: relative;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__hmb {
    position: relative;
    height: 2rem;
    width: 2.5rem;
    span {
      display: inline-block;
      transition: all g.$delay-in; /*アニメーションの設定*/
      position: absolute;
      left: 0;
      height: 2px;
      background: #fff;
      width: 100%;
      &:nth-of-type(1) {
        top: 0;
      }
  
      &:nth-of-type(2) {
        top: 50%;
        transform: translate(0, -1px);
      }
  
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  }
}
.hmb-btn.active {
  $this: &;
  .hmb-btn__hmb {
    span {
      &:nth-of-type(1) {
        top: 50%;
        left: 10%;
        transform: rotate(-45deg);
        width: 80%;
      }
  
      &:nth-of-type(2) {
        width: 50%;
        opacity: 0; /*真ん中の線は透過*/
      }
  
      &:nth-of-type(3) {
        top: 50%;
        left: 10%;
        transform: rotate(45deg);
        width: 80%;
      }
    }
  }
}
.pagetop {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 2.4rem;
  line-height: 1;
  padding: 0.5rem 2rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  cursor: pointer;
  transition: g.$delay-in;

  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.btn-A {

  a {
    position: relative;
    font-family: "Advent Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    padding-right: 6rem;
    transition: .25s all;

    &::after {
      position: absolute;
      content: "";
      border: 2px solid g.$main-color;
      border-radius: 100%;
      width: 4rem;
      height: 4rem;
      transform: translateY(-50%);
      top: 50%;
      right: 0;
    }

    &::before {
      position: absolute;
      content: "";
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.6283%207.67699L0.0439879%207.67699L0.043988%205.93786L10.6283%205.93786L5.96399%201.27351L7.19355%200.043945L13.957%206.80742L7.19355%2013.5709L5.96399%2012.3413L10.6283%207.67699Z%22%20fill%3D%22%2300282E%22%2F%3E%3C%2Fsvg%3E')no-repeat center;
      background-size: contain;
      width: 1.4rem;
      height: 1.3rem;
      transform: translateY(-50%);
      top: 50%;
      right: 1.3rem;
    }

    &:hover {
      color: #D5D933;
    }

    &:hover::after {
      border: 2px solid #D5D933;
    }

    &:hover::before {
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.6283%207.67699L0.0439879%207.67699L0.043988%205.93786L10.6283%205.93786L5.96399%201.27351L7.19355%200.043945L13.957%206.80742L7.19355%2013.5709L5.96399%2012.3413L10.6283%207.67699Z%22%20fill%3D%22%23D5D933%22%2F%3E%3C%2Fsvg%3E')no-repeat center;
    }
  }

  &--white {
    a {
      color: #fff;

      &::after {
        border: 2px solid #fff;
      }

      &::before {
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.6283%207.67699L0.0439879%207.67699L0.043988%205.93786L10.6283%205.93786L5.96399%201.27351L7.19355%200.043945L13.957%206.80742L7.19355%2013.5709L5.96399%2012.3413L10.6283%207.67699Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E')no-repeat center;
      }
    }
  }
}