@charset "utf-8";

@use '../lib/global'as g;
@use '../lib/vars'as *;

.btn-A {

  a {
    position: relative;
    font-family: "Advent Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    padding-right: 6rem;
    transition: .25s all;
    letter-spacing: 0.12em;

    &::after {
      position: absolute;
      content: "";
      border: 2px solid $main-color;
      border-radius: 100%;
      width: 4rem;
      height: 4rem;
      transform: translateY(-50%);
      top: 50%;
      right: 0;
    }

    &::before {
      position: absolute;
      content: "";
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.6283%207.67699L0.0439879%207.67699L0.043988%205.93786L10.6283%205.93786L5.96399%201.27351L7.19355%200.043945L13.957%206.80742L7.19355%2013.5709L5.96399%2012.3413L10.6283%207.67699Z%22%20fill%3D%22%2300282E%22%2F%3E%3C%2Fsvg%3E')no-repeat center;
      background-size: contain;
      width: 1.4rem;
      height: 1.3rem;
      transform: translateY(-50%) translateX(0);
      top: 50%;
      right: 1.3rem;
    }

    span {
      display: inline-block;
    }

    &:hover {
      color: #D5D933;
    }

    &:hover span {
      animation: txtMove .5s;
    }

    &:hover::after {
      border: 2px solid #D5D933;
    }

    &:hover::before {
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.6283%207.67699L0.0439879%207.67699L0.043988%205.93786L10.6283%205.93786L5.96399%201.27351L7.19355%200.043945L13.957%206.80742L7.19355%2013.5709L5.96399%2012.3413L10.6283%207.67699Z%22%20fill%3D%22%23D5D933%22%2F%3E%3C%2Fsvg%3E')no-repeat center;
      animation: arrowMove .5s;
    }
  }

  &--white {
    a {
      color: #fff;

      &::after {
        border: 2px solid #fff;
      }

      &::before {
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.6283%207.67699L0.0439879%207.67699L0.043988%205.93786L10.6283%205.93786L5.96399%201.27351L7.19355%200.043945L13.957%206.80742L7.19355%2013.5709L5.96399%2012.3413L10.6283%207.67699Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E')no-repeat center;
      }
    }
  }
}

/* アニメーションキー */
@keyframes arrowMove {
  0% {
    transform: translateY(-50%) translateX(0);
    /* 初期位置 */
    opacity: 1;
  }

  50% {
    transform: translateY(-50%) translateX(1.5rem);
    /* 右へ移動 */
    opacity: 0;
    /* フェードアウト */
  }

  51% {
    transform: translateY(-50%) translateX(-1.5rem);
    /* 左端に移動 */
    opacity: 0;
    /* 表示なし */
  }

  100% {
    transform: translateY(-50%) translateX(0);
    /* 初期位置に戻る */
    opacity: 1;
    /* フェードイン */
  }
}

@keyframes txtMove {
  0% {
    transform: translateY(0);
    /* 初期位置 */
    opacity: 1;
  }

  50% {
    transform: translateY(-1rem);
    /* 上に移動 */
    opacity: 0;
    /* フェードアウト */
  }

  51% {
    transform: translateY(1rem);
    /* 上に移動 */
    opacity: 0;
    /* 表示なし */
  }

  100% {
    transform: translateY(0);
    /* 初期位置に戻る */
    /* 初期位置に戻る */
    opacity: 1;
    /* フェードイン */
  }
}

.btn-B {
  width: 38.4rem;
  margin: 0 auto;

  @include g.max-screen(g.$bp-sp) {
    width: 100%;
  }

  a {
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
    border-radius: 60px;
    border: 1px solid #D8E3E5;
    transition: .25s all;

    &::after {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 3rem;
      display: inline-block;
      background: url(../images/common/back-btn-icon.svg) no-repeat center center;
      background-size: contain;
    }

    &:hover {
      background: #EAF1F2;
    }

  }
}

.btn-C {
  width: 38rem;
  margin: 0 auto;

  a {
    display: inline-block;
    width: 100%;
    padding: 1.5rem;
    background: #D5D933;
    color: #00282E;
    border: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 60px;
    transition: 0.2s;
    font-family: "Noto Serif JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;

    &:hover {
      color: #fff;
      background: #A6A926;
    }

  }

  @include g.max-screen(g.$bp-sp) {
    width: 100%;
  }

}

.btn-D {
  a {
    display: inline-block;
    width: 100%;
    border: 1px solid #D8E3E5;
    font-family: "Advent Pro", sans-serif;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding: 2.2rem 2.4rem;
    line-height: 1.2;
    font-size: 1.6rem;
    border-radius: 60px;
    letter-spacing: .12em;

    &::after {
      content: "";
      width: 2rem;
      height: 2rem;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 2.4rem;
      transform: translateY(-50%);
      background: url(../images/common/footer-arrow.svg) no-repeat center center;
      background-size: contain;
    }

  }

}

.hmb-btn {
  position: relative;
  cursor: pointer;
  height: 6rem;
  width: 6rem;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__hmb {
    position: relative;
    height: 2rem;
    width: 2.5rem;

    span {
      display: inline-block;
      transition: all g.$delay-in;
      /*アニメーションの設定*/
      position: absolute;
      left: 0;
      height: 2px;
      background: #fff;
      width: 100%;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 50%;
        transform: translate(0, -1px);
      }

      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  }
}

.hmb-btn.active {
  $this: &;

  .hmb-btn__hmb {
    span {
      &:nth-of-type(1) {
        top: 50%;
        left: 10%;
        transform: rotate(-45deg);
        width: 80%;
      }

      &:nth-of-type(2) {
        width: 50%;
        opacity: 0;
        /*真ん中の線は透過*/
      }

      &:nth-of-type(3) {
        top: 50%;
        left: 10%;
        transform: rotate(45deg);
        width: 80%;
      }
    }
  }
}

.pagetop {
  background-color: #FFFFFF;
  text-align: center;
  padding: 4rem 0;
  cursor: pointer;
  transition: .25s all;
  color: $main-color;

  &:hover {
    color: #D5D933;
  }

  a {
    position: relative;
    font-family: "Advent Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    padding-left: 3.2rem;
    letter-spacing: .12em;

    &::before {
      position: absolute;
      content: "";
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M9.50066%204.328L9.50066%2016.5H7.50066L7.50066%204.328L2.13666%209.692L0.722656%208.278L8.50066%200.5L16.2787%208.278L14.8647%209.692L9.50066%204.328Z%22%20fill%3D%22%23D5D933%22%2F%3E%3C%2Fsvg%3E')no-repeat center;
      background-size: contain;
      width: 1.6rem;
      height: 1.6rem;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
    }
  }
}


.fix-btn {
  position: fixed;
  z-index: 999;
  width: 12rem;
  height: 12rem;
  bottom: 4rem;
  right: 4rem;

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;

    &:hover .wave {
      top: 0%;
    }
  }

  &__txt {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .wave {
    background-color: #A6A926;
    position: absolute;
    top: 110%;
    height: 200%;
    width: 200%;
    border-radius: 38%;
    left: -50%;
    transform: rotate(360deg);
    transition: all 5s ease;
    animation: wave 23s linear infinite;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(3600deg);
    }
  }
}