@charset "utf-8";

@use '../lib/global' as g;

@mixin reset-form-el {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::placeholder {
    color: #ccc;
  }
}
