@charset "utf-8";

@use '../lib/global'as g;
@use '../lib/vars'as *;


.menu-sp {
  background: $main-color;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: g.$delay-in;
  padding: 2.4rem;
  overflow: scroll;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  &__nav {
    margin-top: 7rem;
  }

  &__nav-item {
    a {
      position: relative;
      display: grid;
      font-size: 1.6rem;
      color: #fff;
      padding: 1.6rem 0;
      border-bottom: 1px dotted #4D6569;

      &::after {
        position: absolute;
        content: "";
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.6283%207.67699L0.0439879%207.67699L0.043988%205.93786L10.6283%205.93786L5.96399%201.27351L7.19355%200.043945L13.957%206.80742L7.19355%2013.5709L5.96399%2012.3413L10.6283%207.67699Z%22%20fill%3D%22%23D5D933%22%2F%3E%3C%2Fsvg%3E')no-repeat center;
        background-size: contain;
        width: 1.6rem;
        height: 1.6rem;
        transform: translateY(-50%);
        top: 50%;
        right: 0;
      }

      span {
        font-family: "Advent Pro", sans-serif;
        font-size: 1.2rem;
      }
    }
  }

  &__bnr {
    margin-top: 4rem;

    li {
      margin: 2.4rem 0;

      img {
        width: 100%;
      }
    }
  }
}