@charset "utf-8";

@use '../lib/global' as g;

.mv {
  position: relative;
  // background: url("/assets/images/top/mv.png") no-repeat center;
  // background-size: cover;
  // height: 70rem;

  &__wrap {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  &__ttl {
    color: #FEFFF7;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 4.8rem;
    padding-top: 7.5rem;
  }
}
