@charset "utf-8";

@use '../lib/global'as g;

.mv {
  position: relative;

  &__wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    z-index: 2;
  }

  &__ttl {
    color: #FEFFF7;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 4.8rem;
    padding-top: 7.5rem;
    filter: blur(10px);
    opacity: 0;
    transition: filter 1.5s ease-out, opacity 4s ease-out;
    will-change: filter, opacity;

    @include g.max-screen(g.$bp-sp) {
      font-size: 3.2rem;
    }

    &.visible {
      filter: blur(0);
      opacity: 1;
    }
  }

}